body{
  background-color:rgb(243, 243, 243);
}
nav{
  text-align: center;
  margin-bottom: -4px;
}
ul {
  display: table;
  margin: 10px;
  padding: 0;
  text-align: center;
  width: 1300px;
}
ul li{
  display: table-cell;
}
ul li a {
display: inline-block;
text-align: center;
color: rgb(255, 255, 255); 
text-decoration: none;
padding: 8px 8px 17px 8px;
}
.genre a{
  display: inline-block;
  margin: 13px 20px 0px 30px;
  text-decoration: none;
  color:white;
  border: solid white;
}
.genre p{
  display: inline-block;
  margin: 10px 400px;
}
.menu {
  background-color: #262626;
  display: inline-block;
  width: 1300px;
  height: 60px;
  margin-top: 10px;
}
.genre {
  background-color: rgb(248, 76, 76);
  height: 45px;
  color: white;
}
h1, h2, section a{
  color: rgb(2, 2, 2);
  background-color: white;
  display: inline-block;
}
body {
  display:inline-block;
  margin: 20px 0px 0px 0px;
  }
h1 {
  display: block;
  margin: 350px 0px 0px 350px;
  width: 600px;
  position: relative;
  text-align: center;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 47px;
  padding: 5px 0px;
}
h2 {
  display: block;
  margin: 10px 0px 0px 435px;
  padding: 18px 12px;
  width: 400px;
  position: relative;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  margin-top: 135px;
}
section a{
  display: inline-block;
  margin: 56px 0px 0px 180px;
  padding: 18px 12px;
  width: 150px;
  position: relative;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
}
section div{
  margin-left: 200px;
}
.Livraison{
  background-color: rgb(39, 39, 39);
  height: 52px;
  margin-top:100px;
  margin-top: 75px;
}
.Livraison a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 7px 100px;
}