body{
  background-color:#F8F8F8;
}

.container-row {
  display: flex;
  flex-direction: row;
  }
  
.container-column {
display: flex;
flex-direction: column;
}

nav{
  text-align: center;
  margin-bottom: -4px;
}
.menu1{
  display:flex;
  align-content: flex-start;
  margin-left: 25px;
}
.login {
  display:block;
  display:flex;
  background-image: url("images/login.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: -101px 0px 0px 1112px;
}
.favoris {
  display:block;
  display:flex;
  background-image: url("images/favoris.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: -101px 0px 0px 1112px;
}
.panier {
  display:block;
  display:flex;
  background-image: url("images/panier.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: -101px 0px 0px 1112px;
}
.logoAsos{
  background-image: url("images/logo_asos.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 40px;
  margin-top: 1px;
}
.barre{
  font-size: 12px;
  font-family: futura-pt,sans-serif;
  letter-spacing: .4px;
  top: 0;
  left: 0;
  width: 680px;
  border: 0;
  height: 38px;
  border-radius: 19px/50%;
  padding-left: 16px;
  padding-right: 46px;
  box-sizing: border-box;
  color: #2d2d2d;
  margin-left: 27px;
  margin-top: 1px;
}

nav ul {
  display: table;
  margin: 10px;
  padding: 0;
  text-align: center;
  width: 1300px;
}
ul li{
  display: table-cell;
}
.menu ul li a{
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 8px 17px 8px;
  margin: 4px 25px 0px 5px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu2{
  justify-content: flex-end;
  margin: -80px 50px 100px 0px;
}
.genre a{
  display: inline-block;
  margin: 8px 20px 0px 36px;
  text-decoration: none;
  color: white;
  border: solid white;
  border-width: 2px;
  font-size: 12px;
  padding: 7px 15px;
}
.genre p{
  display: inline-block;
  font-family: "Arial", sans-serif;
  margin: 16px 400px;
  font-size: 14px;
  font-weight: bold;
}
.menu {
  background-color: #2d2d2d;
  display: inline-block;
  width: 1366px;
  height: 60px;
}
.genre {
  background-color:#ef314c;
  height: 49px;
  color: white;
}
h1, h2, section a{
  color: rgb(2, 2, 2);
  background-color: white;
  display: inline-block;
}
body {
  display:inline-block;
  margin: 5px 0px 0px 0px;
  }
h1 {
  display: block;
  margin: 350px 0px 0px 350px;
  width: 600px;
  position: relative;
  text-align: center;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 47px;
  padding: 5px 0px;
}
h2 {
  display: block;
  margin: 12px 0px 0px 435px;
  padding: 12px 0px;
  width: 400px;
  position: relative;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  text-align: center;
}
body {
  background-image: url("images/asos-generic-hp-desktop-01-new.jpg");
  background-position: center 139px;
  background-repeat: no-repeat;
}
section a{
  display: inline-block;
  margin: 56px 0px 0px 180px;
  width: 150px;
  position: relative;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  padding: 11px 0px;
  text-align: center;
  text-decoration: none;
}
section div{
  margin-left: 200px;
}
.Livraison{
  background-color: rgb(39, 39, 39);
  height: 52px;
  margin-top:100px;
  margin-top: 75px;
}
.Livraison a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 10px 125px 0px 125px;
  font-size: 14px;
}
.Livraison p {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0px 158px 1px 125px;
  font-size: 10px;
}
.Réseaux{
  background-position: center;
  height: 59px;
  background-image:url("images/CB.png");
  background-repeat: no-repeat; 
  background-color: white;
}
a{
  text-decoration: none;
  color:#666666;
  margin-top: 10px;
}
.footer-menu{
  justify-content: space-between;
  flex-basis: 90%;
  color: #666666;
  font-size: 12px;
  font-family: "Verdana",sans-serif;
}
.footer-menu li{
  margin-bottom: 18px;
}
.footer2{
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 100%;
  font-size: 11px;
  font-family: "Verdana",sans-serif;
  background-color:#dddddd;
  height: 55px;
  margin-bottom: 0px;
  padding: 0px 85px 10px 10px;
}

h3{
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  text-align: left;
  color:#666666; 
  margin: 40px 0px 0px 40px;
}
.logo2{
  justify-content: space-between;
  flex-basis: 15%;
  margin: 16px 0px 0px 270px;
  width: 195px;
}
.copyright{
  margin-right: 820px;
}
.bouton-pays{
  margin: 0px 0px 0px 38px;
}
.button-flex{
  justify-content: flex-end;
  display: flex;
  margin: 0px 100px 0px 0px;
}
.button{
  padding: 8px 20px;
  margin: 0px;
  cursor: pointer;
  border: 1px solid #dddddd;
  overflow: visible;
  font: 13px Verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #666666;
}
.button:hover{
  color:#3f67ca;
}
.button-self{
  padding: 13px 15px 3px 15px;
  margin: 0px;
  cursor: pointer;
  border: 1px solid #dddddd;
  overflow: visible;
  font: 13px Verdana, arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #666666;
}
.hovergenre :hover{
  background-color: #474747;
}

.button-black:hover{
  background-color: black;
  color:white;
}
.button-fade:hover{
  opacity: 0.5;
}
.bloc-genre{
  width: 80px;
  height:60px ;
}

footer a:hover{
  color:#3f67ca;
}

.footer2 a:hover{
  color:#3f67ca;
}